include INSTALL LICENSE README VERSION
include ReadMe.html history.html
include setup.py
# The 'graft src' command has the useful flexibility of copying a custom
# system_info.h if one exists, and not fussing if there isn't one present.
graft src
graft build_support
graft tests
recursive-include demos *.h *.c *.py *.sh *.png *.txt *.md
recursive-include extras *
global-exclude *.pyc


