name: Build and test wheels

on:
  push:
    branches:
      - develop
      - master
  pull_request:
  workflow_call:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-build
  cancel-in-progress: true

jobs:
  build_wheels:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # macos-15-intel is an Intel runner, macos-14 is Apple silicon
        os: [ubuntu-latest, ubuntu-24.04-arm, macos-15-intel, macos-14]

    steps:
      - uses: actions/checkout@v4

      - name: Build and test wheels
        uses: pypa/cibuildwheel@v3.3.0
        env:
          CIBW_ENABLE: pypy
          CIBW_TEST_COMMAND: python -m unittest discover --start-directory {package}

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.os }}
          path: ./wheelhouse/*.whl
